*{
    background-color: rgb(3, 11, 18);
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
}
  
input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    color: white;
    font-size: 24px;
    font-weight: light;
    border: none;
    border-radius: 50px;
    
}
  
input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(244, 237, 237);
    background-color: white;
}

td{       
    border:1px solid rgb(244, 233, 233);
    border-radius: 3px;
}
#result{
    width:500px;
    height:70px ;
}